attrs==19.1.0
blis==0.2.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cymem==2.0.2
dependency-injector==3.14.10
Flask==1.1.1
Flask-json-schema==0.0.5
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.2
MarkupSafe==1.1.1
marshmallow==3.0.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.17.1
pandas==0.25.1
Pillow==6.2.0
plac==0.9.6
preshed==2.0.1
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
spacy==2.1.8
srsly==0.1.0
thinc==7.0.8
torch==1.2.0
torchtext==0.4.0
torchvision==0.4.0
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.2.2
Werkzeug==0.15.5
WTForms==2.2.1
