attrs==19.1.0
blis==0.4.1
catalogue==1.0.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cymem==2.0.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.14.1
jsonschema==3.0.2
MarkupSafe==1.1.1
marshmallow==3.0.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.18.2
pandas==1.0.2
Pillow==6.2.0
plac==0.9.6
preshed==3.0.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sentencepiece==0.1.85
six==1.12.0
sklearn==0.0
spacy==2.2.4
srsly==1.0.2
thinc==7.4.0
torch==1.4.0
torchtext==0.5.0
tqdm>=4.43.0
urllib3==1.25.6
wasabi==0.6.0
Werkzeug==0.15.5
WTForms==2.2.1
notebook==6.0.3
matplotlib==3.2.1
dvc>=0.91.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-json-schema==0.0.5
dependency-injector==3.14.10
boto3==1.12.39